/* ------------------- ----------- -------------------  */
/* ------------------- shoppingCar -------------------  */
/* ------------------- ----------- -------------------  */

.shoppingCar{
    width: 1000px;
    margin: 0 auto;
}
.car_control{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    background-color: #faebd7;
    border-radius: 4px;
    padding-left: 10px;
    
    /* 寬度 */
    margin-top: 20px;
    height: 50px;
    align-items: center;
}
.car_control div{
    width: 200px;
    color: #362e26;
    line-height: 30px;
}
.car_control .itemName{
    width: 50%;
}
.car_height{
    height: 80px;
}
.car_height .conut{
    display: flex;
}
.car_height .conut p{
    margin: 0 10px;
}


/* 訂購人資訊 */
.bookingInfo{
    width: 1000px;
    margin: 0 auto;
    background-color: #faebd7;
    
    border-radius: 8px;
    padding: 20px 0;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.bookingEnter{
    width: 50%;
    text-align: center;
}
.bookingItem{
    margin: 8px auto;
}
.bookingEnter h2{
    font-size: 32px;
}

.booking{
    /* 表單內容與外框 */
    color: black;
    width: 400px;
    font-size: 16px;
    padding: 10px;
    border: 0px;

    border-radius: 16px;

    text-align: left;
}


/* 訂購規則 */
.bookingRule{
    width: 50%;
    padding-left: 70px;
}
.bookingRule h2{
    font-size: 32px;
}
.adressStreet{
    border: 0px;
    
    border-radius: 16px;
    
    text-align: center;
}

/* 結帳 */
.checkout button{
    padding: 5px 30px;
    letter-spacing: 5px;
}

/* 上一頁 */
.beforePage{
    width: 1000px;
    margin: 0 auto;

    display: block;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
}
.beforePage a{
    line-height: 1.6;
    border: 1px solid black;
    padding: 0 20px;
    align-self:flex-end;
    
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    color: black;
}
.beforePage a:hover{
    background-color: #ccc;
    color: #ffffff;
}