@import url('reset.css');
*{
    /* 避免圖片跑版(LOGO) */
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    list-style: none;
    line-height: 1.6;
}
.out{
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
  }

/* ----------  ---------- */

nav{
    height: 60px;
    margin: 0 auto;

    background-color: #E08E58;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* ---------- Nav ---------- */
.transition {
    transition: 0.4s;
}
/* ---------- Logo ---------- */
nav img{
    width: 60px;
    transition: all .5s linear;
}
nav .navLogo{
    height: 60px;
}
nav img:hover{
    transform: scale(1.2);
}
/* ---------- Nav 字樣 ---------- */
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    margin-right: 20px;
    transition: all .5s linear;
}
nav li a{
    display: block;
    text-decoration: none;
    color: #7d2727;
}
nav li a:hover{
    transform: scale(1.2);
    color: #fff;
}

/* ---------- 目前所在位置 ---------- */
.nowPlace{
    font-weight: bold;
}
/* ---------- hamburger ---------- */
/* .hamburger{
    transition: all .5s linear;
} */
/* .bar {
    
    width: 24px;
    height: 4px;
    background: #7d2727;
    margin: 4px 0;
    border-radius: 4px;
    display: none;
} */


/* ------------------ limited_time 大標題 ------------------ */

.title{
    text-align: center;
    padding: 30px;
}
.title h2{
    position: relative;
    display: inline-block;
    font-size: 32px;
}
.title h2:before, .title h2:after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #979797;
    width: 200px;
    top: 55%;
}
/* 分別調整 :before 和 :after 的位置 */
.title h2:before{
    left: -250px;
  }
.title h2:after{
    right: -250px;
}


/* ------------------- topButton (固定底部) ------------------- */

.fa-chevron-up{
    /* 位置固定 */
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    /* 外型 */
    font-size: 32px;
    color: #7d2727;
    /* color: #E08E58; */
    border-radius: 50%;
    border: 2px solid #7d2727;
    /* border: 2px solid #E08E58; */
    
    transition: transform 0.3s ease;
}

.topButton .fa-chevron-up:hover {
    transform: scale(1.2);
    color: #7d2727;
    /* color: #E08E58; */
}

/* ------------------- footer ------------------- */
footer{
    background-color: #E08E58;

    padding: 24px;
    color: #fff;
}

/* ------ 主體 ------ */
.topFooter{
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex; /* flexbox */
    justify-content: space-between; /* 兩邊對齊 */
    align-items: center; /* 垂直居中 */

    line-height: 24px;
    padding: 40px;
}

/* ------ 左邊 ------ */
.footerLeft{
    display: grid;
    letter-spacing: 8px;
}

.footerLeft a{
    width: 100px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 4px;
}

.footerLogo img{
    width: 100px;
    transition: all .5s linear;
}
.footerLogo img:hover,
.fa-brands:hover{
    transform: scale(1.2);
    color: #fff;
}

/* ------ Icon ------ */
.footerLeft .fa-brands{
    font-size: 30px;
    transition: all .5s linear;
}

/* ------ 下方 ------ */
.copyright{
    text-align: center;
    margin: 5px 0;
}


/* ------------------- ----- ------------------- */
/* ------------------- Index ------------------- */
/* ------------------- ----- ------------------- */


/* Key Vision */
.kv{
	background-image: url(../img/banner-StockSnap.jpg);
	background-position: right top;
    background-size: cover;
    height: 550px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

    position: relative;
    overflow: hidden;
}

.kv-svg div {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: solid 2px #FFF;
    border-radius: 50%;
    opacity: 0;
    animation: ripples_anim 2s linear infinite;
}
  
@keyframes ripples_anim {
    0% {
        opacity: 1;
    }
    
    50% {   
        transform: translate(-100px,-100px);
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}
.kv-svg div:nth-of-type(1) {
    left: 0;
    top: 0;
    animation-delay: 0s;
}
  
.kv-svg div:nth-of-type(2) {
    left: 20%;
    top: 50%;
    animation-delay: 3.5s;
}
  
.kv-svg div:nth-of-type(3) {
    left: 30%;
    top: 70%;
    animation-delay: 2.5s;
}
.kv-svg div:nth-of-type(4) {
    left: 60%;
    top: 20%;
    animation-delay: 0.5s;
}
  
.kv-svg div:nth-of-type(5) {
    left: 90%;
    top: 30%;
    animation-delay: 2.1s;
}
.kv-svg div:nth-of-type(6) {
    left: 60%;
    top: 20%;
    animation-delay: 4.2s;
}
.kv-svg div:nth-of-type(7) {
    left: 90%;
    top: 90%;
    animation-delay: 3.1s;
}


.kv h1{
    font-size: 40px;
    color: #fff;
    position: absolute;
    animation: bannerTitle 1s linear 0s ;
    left: 60px;
    bottom: 160px;
}
.kv h2{
    font-size: 32px;
    color: #fff;
    position: absolute;
    animation: bannerTitle 2.5s linear 0s ;
    left: 60px;
    bottom: 120px;
}
.kv p{
    font-size: 16px;
    color: #fff;
    position: absolute;
    animation: bannerTitle 4s linear 0s ;
    left: 60px;
    bottom: 60px;
}
@keyframes bannerTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ---------- 輪播 最新商品 ---------- */

.swiper{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 670px;
    height: 322px;
}
.swiper img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
@media screen and (max-width: 700px) {
    .swiper{
        display: none;
    }
}
/* ---------------------- */
.swiper-2{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 300px;
    height: 550px;
    padding-bottom: 20px;
}
.swiper-2 img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
@media screen and (min-width: 700px) {
    .swiper-2{
        display: none;
    }
}





/* ------------------ 卡片共用 ------------------ */

.wrapper{
    max-width: 924px;
    margin: 0 auto;

    display: flex;
    /* ------ 圖片置中 ------ */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    flex-wrap: wrap;
}
.card{
    width: 300px;
    padding: 10px;
    
    box-sizing: border-box;

	position: relative;
	top: 0;

    transition-property: all;
    transition-duration: .5s;
    margin: 4px;
}
.card img{
    border-radius: 4px;
}
.cardText{
    text-align: left;
}

.cardText .cardCost{
    /* 符號在 li 範圍內 */
    list-style-type: '★ ';
    list-style-position: inside;
}
.cardText h2{
    font-size: 32px;
}
.cardText h3{
    font-size: 24px;
}
.cardText p{
    font-size: 16px;
}
.card img{
    width: 280px;
    height: 200px;
}

/* ----------- 卡片動畫 ----------- */

.card:hover{
    outline: 2px solid #E08E58;
    border-radius: 16px;

	top: -15px;
}

/* ------------------ news ------------------ */

.news{
    max-width: 636px;
    margin: 0 auto;

    /* ------ 圖片置中 ------ */
    display: flex;
	/* justify-content: center; */
    justify-content: space-between;
	align-items: center;
    
    align-items: center;
    text-align: center;
    
    gap: 20px;
    
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.news .card:hover{
    background-color: #e08e58df;
}


/* ------------------- ----- ------------------- */
/* ------------------- About ------------------- */
/* ------------------- ----- ------------------- */

.runNav{
    padding-top: 120px;
}
.mainAbout{
    max-width: 1200px;
    margin: 0 auto;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.item .pic{
    width: 55%;
}
.item .pic img{
    width: 100%;
    /* 避免圖片底下有白線 */
    vertical-align: middle;
}
.item img{
    clip-path: inset(10px 10px 10px 10px round 10px 10px 10px 10px);
}
.item .txt{
    width: 45%;
    flex-shrink: 0;
    background-color: #e08e58d2;
    padding: 50px 30px;
    z-index: 1;
    border-radius: 45%;
}
.item > :first-child{
    margin-right: -10%;
}
.item h3{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #7d2727;
}

@media screen and (max-width: 1100px) {
    .item{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 20px;
    }
    .item .txt{
        display: contents;
        width: 600px;
        border-radius: 4px;
        z-index: 0;
    }
    .item .txt p{
        background-color: #e08e58bd;
        border-radius: 4px;
    }
    .item h3, .item p{
        order: -1;
    }
    .item .pic{
        width: 600px;
    }
    .item > :first-child{
        margin-right: 0px;
    }
}
@media screen and (max-width: 620px) {
    .item .txt{
        width: 400px;
        border-radius: 4px;
        z-index: 0;
    }
    .item .pic{
        width: 400px;
    }
    .item > :first-child{
        margin-right: 0px;
    }
}



/* ------------------- ----- -------------------  */
/* ------------------- menu  -------------------  */
/* ------------------- ----- -------------------  */



/* ----- 選擇 menu 種類 ----- */

.menuChoose{
    width: 300px;
    margin: 0 auto;
    font-size: 32px;

    display: flex;
    
    /* 集中在中央 */
    justify-content: space-between;
}
.menuChoose li{
    padding: 16px;
    transition: all 1s;
    margin: 10px;
    font-size: 24px;
}
.menuChoose li a{
    text-decoration: none;
    color: #606060;
}

.menuChoose li:hover{
    transform: translate(0,-10px);
    border-radius: 16px;
    color: #ffffff;
    background-color: #E08E58;
}

 /* ----- 國家名 ----- */

.nation{
    font-size: 24px;

    justify-content: center;
    align-items: center;
    text-align: center;
 }

/* ----- 咖啡豆 ----- */

.nationCardArea{
    display: flex;

    flex-wrap: wrap;              /* 允許自動換行 */              
    width: 620px;                 /* 限制寬度 */
    margin: 0 auto;               /* 區塊置中 */
    justify-content: flex-start;  /* 卡片靠左排列 */

    gap: 20px; /* 圖卡間距 */

    padding-bottom: 20px;
}

.nationCard{
    position: relative;

    width: 300px;
    overflow: hidden;
    color: #ffffff;

    cursor: pointer;
}

.nationCard img {
    display: block;
    border-radius: 8px;

    width: 100%;
    transition: transform 0.3s ease;
}

.nationCard p {
    position: absolute;

    text-align: center;

    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 16px 0;
    background-color: #E08E58; /* 半透明背景 */
    color: #ffffff;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nationCard a{
    text-decoration: none;
    color: #ffffff;
}
.nationCard:hover{
    border-radius: 8px;
}
.nationCard:hover p{
    opacity: 1;
}

.nationCard:hover img{
    transform: scale(1.05);
}


@media screen and (max-width: 620px) {
    .nationCardArea{
        width: 100%;        /* 原本固定 620px，改成百分比自適應 */
        justify-content: center;  /* 圖片居中對齊 */
        padding: 0 10px;    /* 避免圖片貼邊 */
        padding-bottom: 20px;
    }
    .nationCard img{
        width: 100%;
        vertical-align: middle;
        margin-top: 8px;
    }
}


/* ----------- ----------- --------------  */
/* ----------- menu-coffee --------------  */
/* ----------- ----------- --------------  */

.menu-coffee{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 40px;
}
.menu-coffee-img{
    flex: 1 1 55%;
}
.menu-coffee-img img{
    flex: 1 1 55%;
    width: 100%;
    margin: 10px 0;
    clip-path: inset(10px 10px 10px 10px round 10px 10px 10px 10px);
}

.menu-coffee-txt{
    flex: 1 1 40%;
    background-color: #fff5ec;
    padding: 10px;
    border-radius: 10px;
}
.menu-coffee-txt h2{
    font-size: 32px;
}

.menu-coffee-txt h3{
    font-size: 24px;
}


.GoBack{
    display: block;
    padding: 10px;
    margin: 20px auto;
}

@media screen and (max-width: 768px) {
    .menu-coffee {
        flex-direction: column;
        gap: 20px;
    }

    /* .book-form .row {
        flex-direction: column;
    } */
}






/* ---------- 訂購規則 ---------- */

.ruleCard{
    /* ------ 圖片置中 ------ */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* 卡片內之間的間距 */
    gap: 20px;

    /* margin: 20px 0; */
}

.ruleCard img{
    width: 400px;
    height: auto;
}
.aboutBorder{
    border: 4px solid #E08E58;
    border-style: solid double;
    border-radius: 16px;
}

.ruleCard .cardText{
    /* border: 1px solid black; */
    width: 400px;
    text-align: center;
}
.ruleCard h1{
    font-size: 40px;
}
.ruleCard h2{
    font-size: 32px;
}
.ruleCard p{
    font-size: 16px;
    margin-top: 12px;
    line-height: 1.6;
}

@media screen and(max-width: 950px) {
    .ruleCard{
        /* 只有兩個要段換 */
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }
}

/* ---------------------------------------- */



/* ------------------- ------------- ------------------- */
/* ------------------- shopping Cart -------------------- */
/* ------------------- ------------- ------------------- */

/* ----- 廣告 ----- */
#topMessage{
    background-color: #e08e587c;
    font: 20px Tahoma;
    padding-top: 15px;
    text-align: center;

    display: none;
}

.logoCart{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 25px 3%;
    background: #ffffff00;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 24px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

#cart-icon{
    position: relative;    
    display: flex;
    font-size: 32px;
    color: #7d2727;
    cursor: pointer;
}
#cart-icon .cart-item-count{
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #E08E58;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.shop{
    padding: 30px 9% 30px;
}
.section-title{
    font-size: 48px;
    text-align: center;
    margin-bottom: 15px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 30px;
}
.product-box .img-box{
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.img-box img{
    width: 100%;
    transition: .5s;
}
.img-box:hover img{
    transform: scale(1.1);
}
.product-box .product-title{
    font-size: 24px;
    margin-top: 10px;
}
.product-box .price-and-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-and-cart .price{
    font-size: 16px;
    font-weight: 500;
}
.price-and-cart .add-cart{
    padding: 10px;
    background: #eee;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

/* 你的購物車 */
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background: #fff;
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 32px;
}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-right: auto;
}
.cart-product-title{
    font-size: 16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 4px;
}
.cart-quantity button{
    background: transparent;
    width: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.cart-quantity #decrement{
    color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}
.cart-remove{
    font-size: 24px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 16px;
}
.total-price{
    margin-left: 10px;
    font-weight: 600;
}
.btn-buy{
    display: block;
    padding: 10px 30px;
    background: #E08E58;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
}
#cart-close{
    position: absolute;
    top: 80px;
    right: 40px;
    font-size: 32px;
    cursor: pointer;
}
@media screen and (max-width: 360px) {
    .product-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .cart{
        width: 100%;
    }
}


/* ------------------- ------- ------------------- */
/* ------------------- booking -------------------  */
/* ------------------- ------- ------------------- */


/* 主區塊水平排列 */
.booking-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 30px 60px;
}

/* 地圖設定 */
.booking-row .map {
    /* <flex-grow> <flex-shrink> <flex-basis>; */
    flex: 1 1 55%;
    min-width: 300px;
}

/* 表單設定 */
.book-form {
    flex: 1 1 40%;
    background-color: #fff5ec;
    padding: 30px;
    border-radius: 10px;
}

.book-form h3 {
    text-align: center;
    color: #7d2727;
    margin-bottom: 32px;
}

.book-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.book-form input,
.book-form select,
.book-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 日期和時間排同一行 */
.book-form .row {
    display: flex;
    gap: 10px;
}

.book-form .half {
    flex: 1;
}

.book-form button {
    width: 100%;
    padding: 12px;
    background-color: #E08E58;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.book-form button:hover {
    background-color: #c77244;
}

@media screen and (max-width: 768px) {
    .booking-row {
        flex-direction: column;
        gap: 20px;
    }

    .book-form .row {
        flex-direction: column;
    }
}















/* ------------------------ --- ------------------------ */
/* ------------------------ RWB ------------------------ */
/* ------------------------ --- ------------------------ */

@media screen and (max-width: 980px){
    .topFooter{
        display: inline-block;
    }
    .footerLeft{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 800px){
    .title h2:before, .title h2:after{
        display: none;
    }
}

@media screen and (max-width: 660px){
    .news{
        flex-direction: column;
    }
}

/* ---------- Nav RWD ---------- */
@media screen and (max-width: 600px) {
    nav{
        position: relative;
    }
    nav ul {
        width: 100%;
        margin-top: 60px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .5s;
    }
    nav li {
        width: 100%;
        margin: 0 auto;    
        background: #E08E58;
        text-align: center;
        line-height: 50px;
        transition: all .5s;
    }
    nav li a {
        display:none;
        color:	#7d2727;
        transition: all .5s;
    }
    nav.active ul{
        opacity: 1;
    }
    
    nav.active li a{
        display: block;
        transition: all .5s;
    }
    nav li a:link {
        text-decoration:none;
    }
    
    .bar {
        display: block;
        width: 24px;
        height: 4px;
        background: #7d2727;
        margin: 4px 0;
        border-radius: 4px;
        cursor: pointer;
    }
    nav.active .bar1{ transform: rotate(-45deg) translate(-9px, 2px);}
    nav.active .bar2{ opacity: 0;}
    nav.active .bar3{ transform: rotate(45deg) translate(-9px, -3px);}
}

@media screen and (max-width: 450px){
    footer .facebook{
        width: 130px;
    }
    .topFooter{
        padding-left: 30px;
    }
}

@media screen and (max-width: 340px){
    footer .facebook{
        width: 100px;
    }
    .topFooter{
        padding-left: 0px;
    }
    .kv h1,
    .kv h2{
        color: #7d2727;
        font-weight: bold;
    }
}








/* ------------------- ----- ------------------- */
/* ------------------- shop -------------------  */
/* ------------------- ----- ------------------- */

.shopMain{
    /* 整個區塊置中 */
    width: 990px;
    margin: 0 auto;
    display: flex;

    /* 從左邊開始排列 */
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 24px;

    flex-wrap: wrap;

    /* 最大寬度，內容居中 */
    /* max-width: 1200px;  */
    /* 增加內邊距 */
    padding: 20px;
}

.shopMainCard{
    width: 300px;

    border: 1px solid #ccc;
    border-radius: 16px;
}
/* 圖片 */
.shopMainCard .pic img{
    display: block;
    border-radius: 16px;

    width: 100%;
    height: 200px;

    transition: transform 0.3s ease;
}
.shopMainCard:hover img{
    transform: scale(1.05);
}

.shopMainCard .txt{
    display: flex;
    flex-direction: column;

    padding: 8px;
    box-sizing: border-box;
}

/* 數量 */
.shopMainCard .txt .count{
    display: flex;
}
.shopMainCard .txt .count button{
    margin: 4px 8px;
}
/* 加入購物車 按鈕 */
.shopMainCard .txt .btn{
    line-height: 1.6;
    border: 1px solid black;
    padding: 0 15px;
    align-self: flex-end;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 16px;
    color: black;
}
.shopMainCard .txt .btn:hover{
    background-color: #ccc;
    color: #ffffff;
}


/* ------ 訂購規則 ------ */

.needBgi{
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* ------ 前往購物車 ------ */

.goToCar{
    max-width: 1000px;
    margin: 0 auto;

    display: block;
    text-align:left;
    padding: 20px;
}
.goToCar a{
    line-height: 1.6;
    border: 1px solid black;
    padding: 0 20px;
    align-self:flex-end;
    
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    color: black;
}
.goToCar a:hover{
    background-color: #ccc;
    color: #ffffff;
}
@media screen and (max-width: 1020px) {
    .shopMain{
        width: 100%;        /*  原本固定 620px，改成百分比自適應 */
        justify-content: center;  /* 讓圖片居中對齊 */
        padding: 0 10px;    /*  避免圖片貼邊 */
    }
}
