@import url('reset.css');
@import url('about.css');
@import url('menu.css');
@import url('shop.css');
@import url('yoyaku.css');
@import url('shoppingcar.css');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    line-height: 1.6;
}
  
.top{
    background-color: #E08E58;
    position: relative;
    z-index: 10;
}
  
.topMain{
    width: 1200px;
    height: 60px;
    margin: 0 auto;

    display: flex; /* flexbox */
    justify-content: space-between; /* 兩邊對齊 */
    align-items: center; /* 垂直居中 */
}
  
.topMain img{
    height: 40px;
    transition: all 1s linear;
}
.topMain img:hover {
    transform: scale(1.2); /* 用 scale() 來放大 */
    transition: transform 1s, color 1s linear;
}

.topMain ul{
    display: flex; /* flexbox 將 ul 內的項目水平排列 */
    list-style: none; /* 移除預設的點 */
}

.topMain li{
    float: left;
    line-height: 80px;
}
  
.topMain a{
    display: block;
    text-align: center;
    color: #362e2b;
    text-decoration: none;
    padding: 0 20px;

    transition: all 1s linear;
}
  
.topMain li a:hover{
    color: #ffffff;
    transform: scale(1.2); /* 用 scale() 來放大 */
    transition: transform 1s, color 1s; /* 加入 transform 的過渡效果 */
}

/* 所在位置 */
.nowPlace{
    font-weight: bold;
}


/* ------------------ banner ------------------ */

.banner{
    background-image: url(../img/banner01.jpg);
    background-size: cover;
    background-position: center bottom;

    max-width: 1240px;
    height: 550px;
    margin: 0 auto;
}
  
.bannerMain{
    width: 1200px;
    height: 550px;

    position: relative;
}
  
.bannerMain h1{
    color: #ffffff;
    font-size: 48px;
    position: absolute;

    animation: bannerTitle 1s linear 0s ;

    left: 80px;
    bottom: 200px;
}

.bannerMain h2{
    color: #ffffff;
    font-size: 32px;
    position: absolute;

    animation: bannerTitle 2.5s linear 0s ;

    left: 80px;
    bottom: 160px;
}

.bannerMain p{
    color: #ffffff;
    font-size: 16px;
    position: absolute;

    animation: bannerTitle 4s linear 0s ;

    left: 80px;
    bottom: 100px;
}
@keyframes bannerTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ------------------ swiper ------------------ */
.swiper{
    overflow: hidden;
}
.swiper ul{
    display: flex;
    padding: 30px 20px;
}
.swiper li{
    width: 300px;
    margin: 0 10px;
}
.swiper li img{
    display: block;
}
.swiper{
    display: flex;
}
.swiper img{
    width: 300px;
    height: 240px;
}
main{
    margin-bottom: 20px;
}

/* ------------------ limited_time 大標題 ------------------ */

.title{
    text-align: center;
}
.title h2{
    position: relative;
    display: inline-block;
    font-size: 32px;
}
.title h2:before, .title h2:after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #979797;
    width: 300px;
    top: 55%;
}
/* 分別調整 :before 和 :after 的位置 */
.title h2:before{
    left: -350px;
  }
.title h2:after{
    right: -350px;
}

/* ------------------ card 卡片區 ------------------ */

.cardArea{
    display: flex;
    /* ------ 圖片置中 ------ */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    width: 300px;
    padding: 10px;
    
    box-sizing: border-box;
	overflow: hidden;
	position: relative;
	top: 0;

    transition-property: all;
    transition-duration: .5s;
}
.cardText{
    text-align: left;
}

.cardText .cardCost{
    /* 符號在 li 範圍內 */
    list-style-type: '★ ';
    list-style-position: inside;
}
.cardText h2{
    font-size: 32px;
}
.cardText h3{
    font-size: 24px;
}
.cardText p{
    font-size: 16px;
}
.card img{
    width: 280px;
    height: 200px;
}

/* ----------- 卡片動畫 ----------- */
.card:hover{
    outline: 2px solid #E08E58;
    border-radius: 16px;

	top: -15px;
    box-shadow: 0 5px 2px rgba(0,0,0,.1);
}


/* ------------------ newsArea ------------------ */

.newsArea{
    width: 600px;
    margin: 0 auto;
}
.news{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid #E08E58;
    border-radius: 16px;

    /* transition-property: all;
    transition-duration: .5s; */
    transition: transform 1s, color 1s;
    
    margin: 20px;
}
.newsArea .cardText{
    padding: 10px;
}
.newsArea img{
    width: 300px;
    padding: 10px;
    border-radius: 16px;
}
.news:hover{
    background-image: url(../img/bgi-02-unsplash.jpg);
    
}



/* ------------------ topButton (浮動 Go Top) ------------------ */

.sideButton1,
.sideButton2{
    color: #E08E58;
    position: fixed;
    font-size: 32px;

    transition: all 1s linear;  
}
.sideButton1{
    right: 50px;
    bottom: 280px; 
}
.sideButton2{
    right: 50px;
    bottom: 330px;
}
.sideButton1 i{
    color: #E08E58;
    border: 2px solid #E08E58;
    border-radius: 50%;
}
.sideButton2 i{
    color: #E08E58;
}
.sideButton1 i:hover,
.sideButton2 i:hover{
    transform: scale(1.2); /* 用 scale() 來放大 */
    transition: transform 1s, color 1s linear;
}


/* ------------------ footer ------------------ */

footer{
    background-color: #E08E58;
    padding: 24px 0;
    
    color: #ffffff;
}
footer .contentFooter{
    width: 950px;
    
    display: flex; /* flexbox */
    justify-content: space-between; /* 兩邊對齊 */
    align-items: center; /* 垂直居中 */

    margin: 0 auto;
}
.infoFooter p{   
    padding-bottom: 16px;
}
.iconFooter i{
    font-size: 30px;
}
.footerLogo img{
    width: 150px;
}
.fb_footer img{
    width: 45px;
}
.infoFooter li{
    font-size: 16px;
}
.infoFooter ul li a , .infoFooter a{
    color: #ffffff;
    text-decoration: none;
}
.copyright{
    color: #ffffff;
    text-align: center;
    margin: 5px 0;
}