/* ------------------- ------ -------------------  */
/* ------------------- yoyaku -------------------  */
/* ------------------- ------ -------------------  */

.yoyakuInfo{
    height: auto;
    background-color: #f3c7a9;

    display: flex;
    margin: 0 auto;
    padding-top: 10px;

    display: flex; /* flexbox */
    justify-content: center; /* 兩邊對齊 */
    align-items: center; /* 垂直居中 */
}
.yoyakuMap{
    width: 600px;
}

.yoyakuForm{
    width: 600px;
}
.yoyakuForm p{
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

.yoyakuFormContent{
    width: 100%;
    margin: 0 auto;
    /* margin-top: 20px; */
}
.gruop1{
    margin: 0 10px 20px;
    width: 550px;

    border-radius: 16px;
    border: 0px;
    padding: 10px;
}
.gruop2{
    margin: 0 10px 20px;
    width: 550px;

    border-radius: 16px;
    border: 0px;
    padding: 10px;

    text-align: center;
}
.message{
    margin: 0 10px 20px;
    width: 550px;

    border-radius: 16px;
    border: 0px;
    padding: 10px;
}

.btn{
    display: block;
    width: 200px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    
    margin-bottom: 20px;
}

.btnSend{
    font-size: 20px;
    border-radius: 50px;
    background-color: #e08e58;
    
}
.btnSend a{
    color: #ffffff;
    text-decoration: none;
}